{% extends 'base.html' %}

{% block content %}

<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Notification</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                           <li class="breadcrumb-item active">Notification</li>
                        </ul>
                     </div>
                     <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'addcourse' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    {% include 'includes/messages.html' %}
                                    <tr>
                                       <th>Message</th>
                                       
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 	{% for s in notification %}
                                    <tr>
                                    
                                       <td>{{s.message}}</td>
                                       {% if s.status == 0 %}
                                       <td><a href="{% url 'studentstatusupdate' s.id %}" class="btn btn-outline-danger"> Mark as Read </a></td>
                                       {% else %}
                                       <td><span class="badge badge-pill badge-success">Already Read</span></td>

                                       {% endif%}
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

{% endblock %}