{% extends 'base.html' %}

{% block content %}

<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Result</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                           <li class="breadcrumb-item active">View Result</li>
                        </ul>
                     </div>
                     
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0 " id="table_id">
                                 <thead>
                                    {% include 'includes/messages.html' %}
                                    <tr>
                                       <th>ID</th>
                                       <th>Subject</th>
                                       <th>Assignment Mark</th>
                                       <th>Exam Mark</th>

                                       <th class="text-right">Status</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 	{% for s in result %}
                                    <tr>
                                       <td>{{s.id}}</td>
                                       
                                       <td>{{s.subject_id.subject_name}}</td>
                                       <td>{{s.assignment_mark}}</td>
                                       <td>{{s.exam_mark}}</td>
                                       
                                       
                                       <td class="text-right">
                                          <div class="actions">
                                             
                                           
                                         
                                          </div>
                                       </td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

{% endblock %}